rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAuthorizedAppUser() {
      return request.auth != null
             && request.auth.token.email_verified == true
             && request.auth.token.firebase.sign_in_provider == 'google.com'
             && request.auth.token.email in [
               'sl@brt.co.th',
               'asiametalnart@gmail.com',
               'iphonenart@gmail.com'
             ];
    }

    match /users/{userId}/{allPaths=**} {
      allow read: if isAuthorizedAppUser()
                  && request.auth.uid == userId;
      allow create, update: if isAuthorizedAppUser()
                            && request.auth.uid == userId
                            && request.resource.size < 20 * 1024 * 1024;
      allow delete: if isAuthorizedAppUser()
                    && request.auth.uid == userId;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
